<h4 style="text-align: center; padding: 100px; font-size: 30px"> Your Request </h4>
<p style="text-align: center; padding:100px; font-size: 40px">
    Blood Group Name :-  <%= @request.blood_group_name %> <br> <br>
    Reason :- <%= @request.reason %>
</p>