<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Donation</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <% if user_signed_in? %>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <%= link_to "Request", user_blood_edit_request_path(current_user), class: "nav-link active" %>
            </li>
            <li class="nav-item">
                <%= link_to "Donate", user_blood_edit_donation_path(current_user), class: "nav-link active" %>
            </li>
            <li class="nav-item">
                <%= link_to "All Donations History", user_path(current_user), class: "nav-link active" %>
            </li>
          
            </ul>
        </div>
        <% end %>
    </div>
    <% if user_signed_in? %>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
                </li>
            </ul>
        </div>
    <% end %>
  </nav>