// Place all the styles related to the bloods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homepage-image{ 
    width:1870px;
    height:700px;
}

.homepage-text{
    text-align: center;
    padding: 30px;
    font-size: 25px;
}
